<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>IoT Project -  Human Emotion Detector</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/opensans-font.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/fonts/line-awesome/css/line-awesome.min.css') }}">

	<link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
	<!-- Main Style Css -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/style.css') }}">
</head>
<body class="form-v4">
	<div class="page-content">
		<div class="form-v4-content">
			<div class="form-left">
				<h2>Human Emotion Detector</h2>
				<p class="text-1">Human Emotion Detector is an IoT project used to recognize the individual's emotion and react to it accordingly.</p>
				<div class="form-left-last">
              <form action="/my-link/">
                  <input type="submit" value="Detect my emotion" />
              </form>
				</div>
			</div>
	</div>
</body>
</html>
